header{
    display: flex;
    justify-content: center;
    font-family: 'Noto Serif', serif;
}

.foto-cv{
    transition: all .4s ease-in-out;
}

.foto-cv:hover {
    transform: scale(1.2);
}

.popup {    
    background: #cddaec;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    border-radius: 100px;
    padding: 20px;
    text-align: center;
    width: 130px;
    height: 110px;
    visibility: hidden;
    transition: .3s ease all;
    transform: scale(0.7);
}

.popup.active{
    visibility: visible;
}

.btn-cerrar{
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: #bbbbbb;
    transition: .3s ease all;
}

body{
    background: linear-gradient(315deg, #b2d0d7 0%, #d1d7a3 100%)
}

h1{
    text-align: center;
}

.caracteristicas{
    text-align: center;
    color: grey;
}

.perfil{
    text-align: center;
    font-weight: bold;
}

.contenedor-cuerpo{
    display: flex;
    justify-content: space-around;
}

.buttons {
    display: flex;
    justify-content: space-around;
}
  
.buttons a, svg {
    text-decoration: none;
    font-size: 26px;
    width: 30px;
    height: 30px;
    line-height: 0px;
    text-align: center;
    background: #314652;
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
}
  
.buttons a, svg:hover {
    transform: scale(1.2);
}

.copyright{
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: x-large;
}

@media screen and (max-width:768px){

    .contenedor-cuerpo{
        flex-direction: column;
    }

}
